src/templates/components/about.pug
section.section.section--about
    .section__header
        .container
            h2.section__title о нас
            span.section__subtitle Уже более 15 лет мы помогаем людям решать юридические вопросы в различных сферах, в том числе, в финансовой. Нам нравится наша работа, мы тщательно разбираемся в ситуации и ищем наиболее оптимальный выход из положения. Наша ценность - это люди. Обратившись к нам, вы это почувствуете!
            .socials
                a.socials__link(href="#")
                    img.socials__icon(src="../images/whatsapp.svg", alt="whatsapp")
                a.socials__link(href="#")
                    img.socials__icon(src="../images/mail.svg", alt="email")
                a.socials__link(href="#")   
                    img.socials__icon(src="../images/viber.svg", alt="viber")      
                

dist/templates/components/about.html

<section class="section section--about">
  <div class="section__header">
    <div class="container">
      <h2 class="section__title">о нас</h2><span class="section__subtitle">Уже более 15 лет мы помогаем людям решать юридические вопросы в различных сферах, в том числе, в финансовой. Нам нравится наша работа, мы тщательно разбираемся в ситуации и ищем наиболее оптимальный выход из положения. Наша ценность - это люди. Обратившись к нам, вы это почувствуете!</span>
      <div class="socials"><a class="socials__link" href="#"><img class="socials__icon" src="../images/whatsapp.svg" alt="whatsapp"/></a><a class="socials__link" href="#"><img class="socials__icon" src="../images/mail.svg" alt="email"/></a><a class="socials__link" href="#">  <img class="socials__icon" src="../images/viber.svg" alt="viber"/></a></div>
    </div>
  </div>
</section>
