dist/templates/components/assurance.html

<section class="section">
  <div class="section__header">
    <div class="container">
      <h2 class="section__title">наши гарантии</h2><span class="section__subtitle">Мы не просто предлагаем слуги, мы гарантируем их результат и качество</span>
    </div>
  </div>
  <div class="section__content">
    <div class="assurance">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <div class="assurance__item"> 
              <h3 class="assurance__title">Законность</h3>
              <p class="assurance__text">Каждый шаг подтвергается проверке на предмет законности. Мы руководствуемся принципом абсолютной законности предпримимых действий</p>
            </div>
          </div>
          <div class="col-4">
            <div class="assurance__item"> 
              <h3 class="assurance__title">Ответственность</h3>
              <p class="assurance__text">Предпринимая действия мы несем ответственность, которая застрахована согласно законку на 10 000 000 рублей. А также ответственность несет СРО в размере 50 000 000 руб.</p>
            </div>
          </div>
          <div class="col-4">
            <div class="assurance__item"> 
              <h3 class="assurance__title">15 лет опыта</h3>
              <p class="assurance__text">Многолетний опыт работы в сфере юридических услуг гарантирует вам квалифицированную помощь, оказанную  сотням клиентам</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

src/templates/components/assurance.pug
section.section
    .section__header
        .container
            h2.section__title наши гарантии
            span.section__subtitle Мы не просто предлагаем слуги, мы гарантируем их результат и качество
    .section__content
        .assurance
            .container
                .row
                    .col-4
                        .assurance__item  
                            h3.assurance__title Законность
                            p.assurance__text Каждый шаг подтвергается проверке на предмет законности. Мы руководствуемся принципом абсолютной законности предпримимых действий
                    .col-4
                        .assurance__item  
                            h3.assurance__title Ответственность
                            p.assurance__text Предпринимая действия мы несем ответственность, которая застрахована согласно законку на 10 000 000 рублей. А также ответственность несет СРО в размере 50 000 000 руб.
                    .col-4
                        .assurance__item  
                            h3.assurance__title 15 лет опыта
                            p.assurance__text Многолетний опыт работы в сфере юридических услуг гарантирует вам квалифицированную помощь, оказанную  сотням клиентам
