src/templates/components/benefit.pug
section.section
    .section__header.section__header--secondary
        .container
            h2.section__title признание банкротства поможет вам
    .section__content
        .benefit
            .container
                .row
                    .col-3
                        .benefit__item  
                            img.benefit__icon(src="../images/cash.svg")
                            span.benefit__text Перестать быть должником
                    .col-3
                        .benefit__item  
                            img.benefit__icon(src="../images/calc.svg")
                            span.benefit__text Оставить начисление процентов
                    .col-3
                        .benefit__item  
                            img.benefit__icon(src="../images/percent.svg")
                            span.benefit__text Списать долги
                    .col-3
                        .benefit__item  
                            img.benefit__icon(src="../images/law.svg")
                            span.benefit__text Приостановить судебные процесс

dist/templates/components/benefit.html

<section class="section">
  <div class="section__header section__header--secondary">
    <div class="container">
      <h2 class="section__title">признание банкротства поможет вам</h2>
    </div>
  </div>
  <div class="section__content">
    <div class="benefit">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="benefit__item"> <img class="benefit__icon" src="../images/cash.svg"/><span class="benefit__text">Перестать быть должником</span></div>
          </div>
          <div class="col-3">
            <div class="benefit__item"> <img class="benefit__icon" src="../images/calc.svg"/><span class="benefit__text">Оставить начисление процентов</span></div>
          </div>
          <div class="col-3">
            <div class="benefit__item"> <img class="benefit__icon" src="../images/percent.svg"/><span class="benefit__text">Списать долги</span></div>
          </div>
          <div class="col-3">
            <div class="benefit__item"> <img class="benefit__icon" src="../images/law.svg"/><span class="benefit__text">Приостановить судебные процесс</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
