src/templates/components/documents.pug
article.section
    .section__header
        .container
            h2.section__title документы
            span.section__subtitle Наша деятельность полностью законна
    .section__content
        .documents
            .container
                .row
                    .col-3
                        .documents__item
                            img.documents__image(src="../images/1.jpg")
                    .col-3
                        .documents__item
                            img.documents__image(src="../images/2.jpg")
                    .col-3
                        .documents__item
                            img.documents__image(src="../images/3.jpg")
                    .col-3
                        .documents__item
                            img.documents__image(src="../images/4.jpg")
                                

dist/templates/components/documents.html

<article class="section">
  <div class="section__header">
    <div class="container">
      <h2 class="section__title">документы</h2><span class="section__subtitle">Наша деятельность полностью законна</span>
    </div>
  </div>
  <div class="section__content">
    <div class="documents">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="documents__item"><img class="documents__image" src="../images/1.jpg"/></div>
          </div>
          <div class="col-3">
            <div class="documents__item"><img class="documents__image" src="../images/2.jpg"/></div>
          </div>
          <div class="col-3">
            <div class="documents__item"><img class="documents__image" src="../images/3.jpg"/></div>
          </div>
          <div class="col-3">
            <div class="documents__item"><img class="documents__image" src="../images/4.jpg"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
