src/templates/components/feedback.pug
article.section
    .section__header
        .container
            h2.section__title истории клиентов
            span.section__subtitle Успешно прошедших процедуру банкротства вместе с нами
    .section__content
        .container
            .row
                .col-10
                    .feedback
                        section.feedback__item
                            img(src="#", alt="feedback").feedback__image
                            .feedback__content  
                                p.feedback__title Сергей Иванов
                                span.feedback__small 65 лет
                                .feedback__row Списанная сумма долга: 300 000 руб
                                .feedback__row Стоимость банкротства: 30 000 руб
                                .feedback__text Proactively repurpose resource sucking alignments rather than out-of-the-box web services. Compellingly scale interoperable users for open-source best practices. Professionally engineer empowered platforms after innovative leadership skills. Professionally engineer magnetic ideas through principle-centered testing procedures. Seamlessly engineer resource maximizing value for world-class users.
                                button.button.button__primary Читать решение суда
                                

dist/templates/components/feedback.html

<article class="section">
  <div class="section__header">
    <div class="container">
      <h2 class="section__title">истории клиентов</h2><span class="section__subtitle">Успешно прошедших процедуру банкротства вместе с нами</span>
    </div>
  </div>
  <div class="section__content">
    <div class="container">
      <div class="row">
        <div class="col-10">
          <div class="feedback">
            <section class="feedback__item"><img class="feedback__image" src="#" alt="feedback"/>
              <div class="feedback__content"> 
                <p class="feedback__title">Сергей Иванов</p><span class="feedback__small">65 лет</span>
                <div class="feedback__row">Списанная сумма долга: 300 000 руб</div>
                <div class="feedback__row">Стоимость банкротства: 30 000 руб</div>
                <div class="feedback__text">Proactively repurpose resource sucking alignments rather than out-of-the-box web services. Compellingly scale interoperable users for open-source best practices. Professionally engineer empowered platforms after innovative leadership skills. Professionally engineer magnetic ideas through principle-centered testing procedures. Seamlessly engineer resource maximizing value for world-class users.</div>
                <button class="button button__primary">Читать решение суда</button>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
