src/templates/components/form-first.pug
section.section.section--form
    .section__header.section__header--secondary
        .container
            h2.section__title запросить консультацию
            span.section__subtitle Начните разбираться с долгами уже сегодня
    .section__content
        .container
            form.form(action="./smart.php" method="POST")
                input.form__input(type="text" name="name" placeholder="Ваше имя")
                input.form__input(required type="tel" name="phone" placeholder="Ваш телефон")
                button.button.button__secondary(type="submit") Запросить консультацию

dist/templates/components/form-first.html

<section class="section section--form">
  <div class="section__header section__header--secondary">
    <div class="container">
      <h2 class="section__title">запросить консультацию</h2><span class="section__subtitle">Начните разбираться с долгами уже сегодня</span>
    </div>
  </div>
  <div class="section__content">
    <div class="container">
      <form class="form" action="#">
        <input class="form__input" type="text" name="name" placeholder="Ваше имя"/>
        <input class="form__input" required="required" type="tel" name="phone" placeholder="Ваш телефон"/>
        <button class="button button__secondary" type="submit">Запросить консультацию</button>
      </form>
    </div>
  </div>
</section>
