src/templates/components/header.pug
header.header
    .container
        .row
            .col-12.header__top
                .branding
                    a.branding__link(href="#")
                        p.branding__text
                            span.branding__name “АРМА”<br> 
                            span.branding__text центр финансового<br>
                            span.branding__text оздоровления и банкротствa
                .phones
                    span.phones__item(itemprop="telephone") +7 (3812) 511−634
                    span.phones__item(itemprop="telephone") +7 (3812) 511−634
                button.button.button__primary(href="#") Запишись на консультацию
    .header__bottom
        .container 
            .row
                .col-12
                    nav.nav
                        a.nav__link(href="#") О нас   
                        a.nav__link(href="#") Услуги   
                        a.nav__link(href="#") Гарантии  
                        a.nav__link(href="#") Отзывы  
                        a.nav__link(href="#") Контакты

dist/templates/components/header.html

<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-12 header__top">
        <div class="branding"><a class="branding__link" href="#">
            <p class="branding__text"><span class="branding__name">“АРМА”<br> </span><span class="branding__text">центр финансового<br></span><span class="branding__text">оздоровления и банкротствa</span></p></a></div>
        <div class="phones"><span class="phones__item" itemprop="telephone">+7 (3812) 511−634</span><span class="phones__item" itemprop="telephone">+7 (3812) 511−634</span></div>
        <button class="button button__primary" href="#">Запишись на консультацию</button>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container"> 
      <div class="row">
        <div class="col-12">
          <nav class="nav"><a class="nav__link" href="#">О нас   </a><a class="nav__link" href="#">Услуги   </a><a class="nav__link" href="#">Гарантии  </a><a class="nav__link" href="#">Отзывы  </a><a class="nav__link" href="#">Контакты</a></nav>
        </div>
      </div>
    </div>
  </div>
</header>
