src/templates/components/legal.pug
section.section.section--legal
    .section__header
        .container
            h2.section__title банкротство абсолютно законно
            span.section__subtitle Любой гражданин Российской Федерации с 2015 года имеет право признать себя банкротом в соответсвии с законом №127 ФЗ “О несостоятельности (банкротстве)”
    .section__content
        .container
            .row
                .col-6
                    .card
                        h3.card__title Банкротство юридических
                        ul.card__list
                            li.card__list-item Совокупная задолженность более 300 000 рублей
                            li.card__list-item Просрочка платежей более 3 месяцев
                            li.card__list-item Еще какой-то текст, который я не разобрал, но он длинный
                .col-6
                    .card
                        h3.card__title Банкротство физических лиц
                        ul.card__list
                            li.card__list-item Просрочка выплат более 90 дней
                            li.card__list-item Задолженность более 400 000 рублей
            .row
                .col-12.download
                    a.download__link(href="http://") Скачать №127 ФЗ «О несостоятельности (банкротстве)»

dist/templates/components/legal.html

<section class="section section--legal">
  <div class="section__header">
    <div class="container">
      <h2 class="section__title">банкротство абсолютно законно</h2><span class="section__subtitle">Любой гражданин Российской Федерации с 2015 года имеет право признать себя банкротом в соответсвии с законом №127 ФЗ “О несостоятельности (банкротстве)”</span>
    </div>
  </div>
  <div class="section__content">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="card">
            <h3 class="card__title">Банкротство юридических</h3>
            <ul class="card__list">
              <li class="card__list-item">Совокупная задолженность более 300 000 рублей</li>
              <li class="card__list-item">Просрочка платежей более 3 месяцев</li>
              <li class="card__list-item">Еще какой-то текст, который я не разобрал, но он длинный</li>
            </ul>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <h3 class="card__title">Банкротство физических лиц</h3>
            <ul class="card__list">
              <li class="card__list-item">Просрочка выплат более 90 дней</li>
              <li class="card__list-item">Задолженность более 400 000 рублей</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 download"><a class="download__link" href="http://">Скачать №127 ФЗ «О несостоятельности (банкротстве)»</a></div>
      </div>
    </div>
  </div>
</section>
