dist/templates/components/main.html

<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="main__content">
          <h1 class="main__title">Избавим вас от долгов</h1><span class="main__subtitle">Процесс банкротства с гарантией успеха</span>
          <ul class="main__list">
            <li class="main__list-item">Остановим начисление процентов и прекратим удержания</li>
            <li class="main__list-item">Избавим от финансового преследования</li>
            <li class="main__list-item">Перестанут действовать обременения (аресты)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

src/templates/components/main.pug
section.main
    .container
        .row
            .col-6
                .main__content
                    h1.main__title Избавим вас от долгов
                    span.main__subtitle Процесс банкротства с гарантией успеха
                    ul.main__list
                        li.main__list-item Остановим начисление процентов и прекратим удержания
                        li.main__list-item Избавим от финансового преследования
                        li.main__list-item Перестанут действовать обременения (аресты)
