dist/templates/components/questions.html

<section class="section">
  <div class="section__header">
    <div class="container">
      <h2 class="section__title">часто задаваемые вопросы</h2><span class="section__subtitle">Ответы на популярные вопросы по банкротству</span>
    </div>
  </div>
  <div class="section__content">
    <div class="container">
      <div class="questions">
        <div class="row">
          <div class="col-10">
            <ul class="questions__list">
              <li class="questions__item">
                <h4 class="questions__item-title">Что значит объявить своё банкротство?</h4>
                <p class="questions__item-text">Объявить банкротство – доказать собственную финансовую несостоятельность и невозможность выполнить свои долговые обязательства.</p>
              </li>
              <li class="questions__item">
                <h4 class="questions__item-title">Кто может стать банкротом?</h4>
                <p class="questions__item-text"></p>
              </li>
              <li class="questions__item">
                <h4 class="questions__item-title">Можно ли признать себя банкротом?</h4>
                <p class="questions__item-text"></p>
              </li>
              <li class="questions__item">
                <h4 class="questions__item-title">Кто объявляет должника банкротом?</h4>
                <p class="questions__item-text"></p>
              </li>
              <li class="questions__item">
                <h4 class="questions__item-title">Как стать банкротом?</h4>
                <p class="questions__item-text"></p>
              </li>
              <li class="questions__item">
                <h4 class="accordion__item-title">Что будет после банкротства?</h4>
                <p class="accordion__item-text"></p>
              </li>
              <li class="questions__item">
                <h4 class="questions__item-title">Какие последствия?</h4>
                <p class="questions__item-text"></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

src/templates/components/questions.pug
section.section
    .section__header
        .container
            h2.section__title часто задаваемые вопросы
            span.section__subtitle Ответы на популярные вопросы по банкротству
    .section__content
        .container
            .questions
                .row
                    .col-10
                        ul.questions__list
                            li.questions__item
                                h4.questions__item-title Что значит объявить своё банкротство?
                                p.questions__item-text Объявить банкротство – доказать собственную финансовую несостоятельность и невозможность выполнить свои долговые обязательства.
                            li.questions__item
                                h4.questions__item-title Кто может стать банкротом?
                                p.questions__item-text
                            li.questions__item
                                h4.questions__item-title Можно ли признать себя банкротом?
                                p.questions__item-text
                            li.questions__item
                                h4.questions__item-title Кто объявляет должника банкротом?
                                p.questions__item-text
                            li.questions__item
                                h4.questions__item-title Как стать банкротом?
                                p.questions__item-text
                            li.questions__item
                                h4.accordion__item-title Что будет после банкротства?
                                p.accordion__item-text
                            li.questions__item
                                h4.questions__item-title Какие последствия?
                                p.questions__item-text
